/* Estilos generales */
body {
  background-color: #f7d9da;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 24px;
  color: #ff5757;
  margin-bottom: 20px;
}

.reset {
  text-align: center;
}

.reset button {
  display: block;
  font-weight: 800;
  transition: all 0.1s linear;
  background-color: transparent;
  border: solid 2px #ff5757;
  border-radius: 4px;
  color: #ff5757;
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px auto;
  padding: 10px;
  width: 120px;
  cursor: pointer;
}

.reset button:hover {
  background-color: #fc9d9d;
  color: #a10000;
}